{% extends "main/base.html" %}

{% block title %} Transactions {% endblock %}

{% load crispy_forms_tags %}

{% block name %} {{user.username}} {% endblock %}

{% block content %}

    <h1> Transactions </h1> <hr>

    <div id="newTran">
        <button class="btn btn-primary" onclick="DisplayForm()">Record New Transaction</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Amount</th>
                <th scope="col">Type</th>
                <th scope="col">Account</th>
                <th scope="col">Note</th>
                <th scope="col">Date</th>
                <th scope="col">Budget</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>
                        {% if transaction.transaction_type == 'W' %}
                            <div class="text-danger">-{{transaction.amount}}</div>
                        {% else %}
                            <div class="text-success-emphasis">+{{transaction.amount}}</div>
                        {% endif %}
                    </td>
                    <td>{{transaction.transaction_type}}</td>
                    <td>{{transaction.account_id.name}}</td>
                    <td>{{transaction.note}}</td>
                    <td>{{transaction.date}}</td>
                    <td>{{transaction.budget_id}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function DisplayForm() {
            const form = document.getElementById("newTran");
            form.innerHTML = `
                <form method="post" action="/finance/transactions">
                    {% csrf_token %}


                    {{form.amount.label_tag}} {{form.amount}} <br>
                    {{form.transaction_type.label_tag}} {{form.transaction_type}} <br>
                    {{form.account_id.label_tag}} {{form.account_id}} <br>
                    {{form.note.label_tag}} {{form.note}} 
                    <p class="fs-6 fw-light"> 
                        To accurately mark monthly budget expenses use the format: Section: ------
                    </p>
                    {{form.date.label_tag}} {{form.date}} <br>
                    {{form.budget_id.label_tag}} (Can be Blank) {{form.budget_id}} <br>

                    <button class="btn btn-success" type="submit">Add</button>
                </form>
            `;
        }
    </script>

{% endblock %}